name: PyPi

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish_pypi:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Install
      run: pip3 install --quiet --upgrade setuptools wheel twine
    - name: Build
      run: python3 setup.py sdist bdist_wheel
    - name: Publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
        TWINE_REPOSITORY_URL: https://test.pypi.org/legacy/
      run: twine upload dist/*
